
@{
    ViewBag.Title = "ImportInformationwithGroupLeader";
    Layout = "~/Views/LayoutPage.cshtml";
}
@using com.dongfangyunwang.entity
<style>
    .td-btn {
        text-align: right;
    }

    .div-single-data, .div-excel-data {
        display: none;
    }

    .alert-active {
        display: block;
    }
</style>

<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">数据导入</li>
        </ol>
    </div>
    <div class="container">
        <div class="alert alert-error div-single-data">
            <a class="close" data-dismiss="alert">×</a>
            <strong>添加此条数据失败! </strong>请联系管理员
        </div>
        <label>
            数据单条录入
        </label>
        <form action="/Information/ImportDatawithGroupLeader" method="post" id="singleInformation-form">
            <table class="table">
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">客户姓名</span>
                            <input type="text" class="form-control" placeholder="客户姓名" name="customerName" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">性别</span>
                            <select name="sex" class="form-control">
                                <option selected="selected">男</option>
                                <option>女</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">年龄</span>
                            <input type="text" class="form-control" placeholder="年龄" name="age" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">婚否</span>
                            <select name="ismarry" class="form-control">
                                <option selected="selected">是</option>
                                <option>否</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">子女</span>
                            <select name="children" class="form-control">
                                <option selected="selected">有</option>
                                <option>无</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">地址省市</span>
                            <input type="text" class="form-control" placeholder="地址省市" name="address" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">所属行业</span>
                            <input type="text" class="form-control" placeholder="所属行业" name="industry" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">职业</span>
                            <input type="text" class="form-control" placeholder="职业" name="occupation" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">年收入</span>
                            <input type="text" class="form-control" placeholder="年收入" name="income" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">爱好</span>
                            <input type="text" class="form-control" placeholder="爱好" name="hobby" aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">客户电话</span>
                            <input type="text" class="form-control" placeholder="客户电话" name="phone" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">QQ</span>
                            <input type="text" class="form-control" placeholder="QQ" name="qq" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">微信号</span>
                            <input type="text" class="form-control" placeholder="微信号" name="webcat" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">邮箱</span>
                            <input type="email" class="form-control" placeholder="邮箱" name="email" aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">是否有车</span>
                            <select name="hascar" class="form-control">
                                <option selected="selected">是</option>
                                <option>否</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">是否有房</span>
                            <select name="hashouse" class="form-control">
                                <option selected="selected">是</option>
                                <option>否</option>
                            </select>
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">备注1</span>
                            <input type="text" class="form-control" placeholder="备注1" name="note1" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">备注2</span>
                            <input type="text" class="form-control" placeholder="备注2" name="note2" aria-describedby="basic-addon1">
                        </div>
                    </td>
                    <td>
                        <div class="input-group">
                            <span class="input-group-addon" id="basic-addon1">备注3</span>
                            <input type="text" class="form-control" placeholder="备注3" name="note3" aria-describedby="basic-addon1">
                        </div>
                    </td>
                </tr>
                @for (int i = 0; i < (int)((ViewData["FollowItems"] as IEnumerable<Follow>).Count() / 3); i++)
            {
                    <tr>
                        @for (int j = i * 3; j < 3 * (i + 1); j++)
                {
                            <td>
                                <div class="input-group">
                                    <span class="input-group-addon" id="basic-addon1">@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt(j).FollowItem)</span>
                                    <input type="text" class="form-control input-follow" placeholder="@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt(j).FollowItem)" name="@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt(j).FollowItem)" aria-describedby="basic-addon1">
                                </div>
                            </td>
                        }
                    </tr>
                }
                <tr>
                    @for (int i = 0; i < ((ViewData["FollowItems"] as IEnumerable<Follow>).Count() % 3); i++)
            {
                        <td>
                            <div class="input-group">
                                <span class="input-group-addon" id="basic-addon1">@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt((int)(ViewBag.Count) - i - 1).FollowItem)</span>
                                <input type="text" class="form-control input-follow" placeholder="@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt((int)(ViewBag.Count)-i-1).FollowItem)" name="@((ViewData["FollowItems"] as IEnumerable<Follow>).ElementAt((int)(ViewBag.Count)-i-1).FollowItem)" aria-describedby="basic-addon1">
                            </div>
                        </td>
                    }
                </tr>
                <tr>
                    <td colspan="5" class="td-btn">
                        <button class="btn btn-primary" type="button" onclick="AddInformation();">录入</button>
                    </td>
                </tr>
            </table>
        </form>


        <form id="form-data">
            <div class="form-group">
                <label for="exampleInputFile">Excel数据文件导入</label>
                <input type="file" name="fileCollection" accept=".xls,.xlsx">
                <p class="help-block">请选择要导入的excel文件.</p>
            </div>
            <div class="alert alert-error div-excel-data">
                <a class="close" data-dismiss="alert">×</a>
                <strong>导入数据失败! </strong>请检查您的上传的excel表格格式是否正确
            </div>
            <button class="btn btn-primary" type="button" onclick="UploadFile();">导入</button>
        </form>
    </div>
</div>
<script src="~/Content/js/bootstrapValidator.min.js"></script>
<script>
    function AddInformation() {

        var msg = "";
        var customerName = $("input[name='customerName']").val();
        var age = $("input[name='age']").val();
        var income = $("input[name='income']").val();
        if (customerName == null || customerName == "") {
            msg += "客户名称不能为空\n";
        }

        if (age == null || age == "") {

        }
        else {
            if (isNaN(age)) {
                msg += "年龄必须是数字\n";
            }
            else {
                if (!(age >= 0 && age <= 150)) {
                    msg += "年龄超出合法范围 [0-150]";
                }
            }
        }

        if (income == "" || income == null) {

        }
        else {
            if (isNaN(income)) {
                msg += "收入必须是数字\n";
            }
            else {
                if (income < 0) {
                    msg += "收入必须大于0";
                }
            }
        }

        if (msg != "") {
            alert(msg);
        }
        else {
            var json = new Object();
            json.customerName = customerName;
            json.sex = $("select[name='sex']").val();
            json.age = age;
            json.ismarry = $("select[name='ismarry']").val();
            json.children = $("select[name='children']").val();
            json.address = $("input[name='address']").val();
            json.industry = $("input[name='industry']").val();
            json.occupation = $("input[name='occupation']").val();
            json.income = income;
            json.hobby = $("input[name='hobby']").val();
            json.phone = $("input[name='phone']").val();
            json.qq = $("input[name='qq']").val();
            json.webcat = $("input[name='webcat']").val();
            json.email = $("input[name='email']").val();
            json.hascar = $("select[name='hascar']").val();
            json.hashouse = $("select[name='hashouse']").val();
            json.note1 = $("input[name='note1']").val();
            json.note2 = $("input[name='note2']").val();
            json.note3 = $("input[name='note3']").val();

            var str = JSON.stringify(json);
            $(".input-follow").each(function () {
                str = str.replace("}", ",\"" + $(this).attr('name') + "\":" + "\"" + $(this).val() + "\"}");
            });
            $.ajax({
                url: "/Information/ImportDatawithGroupLeader",
                type: "POST",
                data: str,
                success: function (data) {
                    if (data == "True") {
                        window.location.href = "/Group/Index";
                    }
                    else {
                        $('.div-single-data').addClass("alert-active");
                    }
                }
            });
        }
    }
    function UploadFile() {
        var formData = new FormData($("#form-data")[0]);
        $.ajax({
            url: '/Information/Upload',
            type: 'POST',
            data: formData,
            async: false,
            cache: false,
            contentType: false,
            processData: false,
            success: function (returndata) {
                if (returndata == "True") {
                    alert("导入数据成功");
                    window.location.href = "/Group/Index";
                }
                else {
                    $('.div-excel-data').addClass('alert-active');
                }
            },
            error: function (returndata) {
                alert("导入失败");
            }
        });
    }
</script>