
@using com.dongfangyunwang.web.Models
<link href="~/Content/css/bootstrap-table-expandable.css" rel="stylesheet" />
<script src="~/Content/js/bootstrap-table-expandable.js"></script>

<div class="col-lg-12>
    <div class="panel panel-default">
        <div class="panel-heading">
            <h4><i class="fa fa-table red"></i><span class="break"></span><strong>数据表</strong></h4>
        </div>
        <div class="panel-body">
            <table class="table table-bordered table-expandable">
                <thead>
                    <tr>
                        <th></th>
                        <th>客户姓名</th>
                        <th>性别</th>
                        <th>年龄</th>
                        <th>婚否</th>
                        <th>子女</th>
                        <th>地址省市</th>
                        <th>所属行业</th>
                        <th>职业</th>
                        <th>年收入</th>
                        <th>爱好</th>
                        <th>是否有车</th>
                        <th>是否有房</th>
                    </tr>
                </thead>
                <tbody>
                    @if (ViewData["InformationList"] == null)
                    {
                    }
                    else
                    {
                        foreach (var item in ViewData["InformationList"] as List<InformationModel>)
                        {
                            <tr>
                                <td><a href="/Information/Update?informationId=@item.Id">修改</a></td>
                                <td><small>@item.CustomerName</small></td>
                                <td><small>@item.Sex</small></td>
                                <td><small>@item.Age</small></td>
                                <td><small>@item.IsMarry</small></td>
                                <td><small>@item.Children</small></td>
                                <td><small>@item.Address</small></td>
                                <td><small>@item.Industry</small></td>
                                <td><small>@item.Occupation</small></td>
                                <td><small>@item.Income</small></td>
                                <td><small>@item.Hobby</small></td>
                                <td><small>@item.HasCar</small></td>
                                <td><small>@item.HasHouse</small></td>
                            </tr>

                            <tr>
                                <td colspan="2">
                                    <h5><strong>录入时间</strong></h5>
                                    <small>@item.InserTime</small>
                                </td>
                                <td colspan="2">
                                    <h5><strong>收集员</strong></h5>
                                    <small>@item.MemberAccount</small>
                                </td>

                                <td colspan="1">
                                    <h5><strong>客户电话</strong></h5>
                                    <small>@item.Phone</small>
                                </td>
                                <td colspan="1">
                                    <h5><strong>客户QQ</strong></h5>
                                    <small>@item.QQ</small>
                                </td>
                                <td colspan="1">
                                    <h5><strong>客户微信号</strong></h5>
                                    <small>@item.WebCat</small>
                                </td>
                                <td colspan="1">
                                    <h5><strong>客户邮箱</strong></h5>
                                    <small>@item.Email</small>
                                </td>
                                <td colspan="2">
                                    <h5><strong>备注1</strong></h5>
                                    <small>@item.Note1</small>
                                </td>
                                <td colspan="2">
                                    <h5><strong>备注2</strong></h5>
                                    <small>@item.Note2</small>
                                </td>
                                <td colspan="2">
                                    <h5><strong>备注3</strong></h5>
                                    <small>@item.Note3</small>
                                </td>
                                @for (int i = 0; i < (ViewData["TableHeaderItem"] as List<string>).Count; i++)
                    {
                        foreach (var fr in item.FollowList)
                        {
                            if (fr.FollowName == (ViewData["TableHeaderItem"] as List<string>)[i])
                            {
                                            <td colspan="1">
                                                <h5><strong>@fr.FollowName</strong></h5>
                                                <small>@fr.FollowValue</small>
                                            </td>
                                        }
                                    }
                                }
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@*<table class="table table-striped table-hover table-expandable table-bordered">
    <thead>
        <tr>
            <th></th>
            <th>客户姓名</th>
            <th>性别</th>
            <th>年龄</th>
            <th>婚否</th>
            <th>子女</th>
            <th>地址省市</th>
            <th>所属行业</th>
            <th>职业</th>
            <th>年收入</th>
            <th>爱好</th>
            <th>是否有车</th>
            <th>是否有房</th>
        </tr>
    </thead>
    @* 表头顺序  "录入时间","收集员","客户姓名","性别","年龄","婚否","子女","电话","QQ","微信","邮箱","地址省市","所属行业","职业","年收入","爱好","是否有车","是否有房" *@
    @*<tbody>
        @if (ViewData["InformationList"] == null)
        {
        }
        else
        {
            foreach (var item in ViewData["InformationList"] as List<InformationModel>)
            {
        <tr>
            <td><a href="/Information/Update?informationId=@item.Id">修改</a></td>
            <td><small>@item.CustomerName</small></td>
            <td><small>@item.Sex</small></td>
            <td><small>@item.Age</small></td>
            <td><small>@item.IsMarry</small></td>
            <td><small>@item.Children</small></td>
            <td><small>@item.Address</small></td>
            <td><small>@item.Industry</small></td>
            <td><small>@item.Occupation</small></td>
            <td><small>@item.Income</small></td>
            <td><small>@item.Hobby</small></td>
            <td><small>@item.HasCar</small></td>
            <td><small>@item.HasHouse</small></td>
        </tr>

        <tr>
            <td colspan="2">
                <h5><strong>录入时间</strong></h5>
                <small>@item.InserTime</small>
            </td>
            <td colspan="2">
                <h5><strong>收集员</strong></h5>
                <small>@item.MemberAccount</small>
            </td>

            <td colspan="1">
                <h5><strong>客户电话</strong></h5>
                <small>@item.Phone</small>
            </td>
            <td colspan="1">
                <h5><strong>客户QQ</strong></h5>
                <small>@item.QQ</small>
            </td>
            <td colspan="1">
                <h5><strong>客户微信号</strong></h5>
                <small>@item.WebCat</small>
            </td>
            <td colspan="1">
                <h5><strong>客户邮箱</strong></h5>
                <small>@item.Email</small>
            </td>
            <td colspan="2">
                <h5><strong>备注1</strong></h5>
                <small>@item.Note1</small>
            </td>
            <td colspan="2">
                <h5><strong>备注2</strong></h5>
                <small>@item.Note2</small>
            </td>
            <td colspan="2">
                <h5><strong>备注3</strong></h5>
                <small>@item.Note3</small>
            </td>
            @for (int i = 0; i < (ViewData["TableHeaderItem"] as List<string>).Count; i++)
                    {
                        foreach (var fr in item.FollowList)
                        {
                            if (fr.FollowName == (ViewData["TableHeaderItem"] as List<string>)[i])
                            {
                    <td colspan="1">
                        <h5><strong>@fr.FollowName</strong></h5>
                        <small>@fr.FollowValue</small>
                    </td>
                            }
                        }
                    }
        </tr>
            }
        }
    </tbody>
</table>*@