
@{
    ViewBag.Title = "List";
    Layout = "~/Views/LayoutPage.cshtml";
}

<link href="~/Content/css/xcConfirm.css" rel="stylesheet" />

@using com.dongfangyunwang.entity
<style>
    .container-btn {
        padding-left: 20px;
        padding-right: 20px;
    }

        .container-btn button {
            margin-right: 10px;
        }

    .container-add-followitem {
        padding-left: 0px;
    }

        .container-add-followitem form {
            padding-left: 0px;
        }

            .container-add-followitem form .form-group {
                margin-top: 10px;
                margin-bottom: 5px;
            }

                .container-add-followitem form .form-group input {
                    width: 200px;
                }

    .radio-inline {
        text-align: left;
    }

        .radio-inline input {
            width: 20px !important;
        }
</style>
<div class="row">
    <div class="col-md-12">
        <ol class="breadcrumb">
            <li><a href="/">管理后台</a></li>
            <li class="active">员工管理</li>
        </ol>
    </div>
    <div class="container">
        <label>
            用户列表
        </label>
        <div class="container container-btn">
            <div class="row">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>用户名</th>
                            <th>角色</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in ViewData["MemberList"] as IEnumerable<Member>)
                        {
                            <tr id="@item.Id">
                                <td>@item.Account</td>
                                @if (item.IsAdmin == 1)
                                {
                                    <td>管理员</td>
                                }
                                else if (item.IsAdmin == 0)
                                {
                                    <td>普通用户</td>
                                }
                                else if (item.IsAdmin == 2)
                                {
                                    <td>组长</td>
                                }
                                <td>
                                    <button class="btn btn-primary btn-update">修改</button>
                                    <button class="btn btn-danger btn-delete">删除</button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
                @*@foreach (var item in ViewData["MemberList"] as IEnumerable<Member>)
                    {
                        if (item.IsAdmin == 1)
                        {
                            <button class="btn btn-danger col-xs-2">@item.Account</button>
                        }
                        else if (item.IsAdmin == 2)
                        {
                            <button class="btn btn-warning col-xs-2">@item.Account</button>
                        }
                        else
                        {
                            <button class="btn btn-default col-xs-2">@item.Account</button>
                        }

                    }*@
            </div>
        </div>
        <hr />
        <label>添加新用户</label>
        <div class="container container-add-followitem">
            <form method="post" action="/Member/Add" id="member-form">
                <div class="form-group">
                    <input type="text" name="memberName" class="form-control" required data-bv-notempty-message="用户名不能为空" pattern="^[A-Za-z0-9]+$" data-bv-regexp-message="用户名必须由数字和26个英文字母组成">
                </div>
                <div class="form-group">
                    <label class="radio-inline">
                        <input type="radio" name="isadmin" id="inlineRadio13" value="g"> 组长
                    </label>
                    <label class="radio-inline">
                        <input type="radio" checked="checked" name="isadmin" id="inlineRadio2" value="n"> 普通用户
                    </label>
                </div>
                <button type="submit" class="btn btn-primary">添加</button>
            </form>
        </div>
    </div>
    <div class="modal fade" id="updateModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">修改信息</h4>
                </div>
                <div class="modal-body">
                    <form class="update-form">
                        <div class="form-group">
                            <input type="hidden" class="memberId" name="id" value="" />
                            <input type="text" name="memberName" value="" class="form-control memberName" required data-bv-notempty-message="用户名不能为空" pattern="^[A-Za-z0-9]+$" data-bv-regexp-message="用户名必须由数字和26个英文字母组成"/>
                        </div>
                        <div class="form-group">
                            <label class="radio-inline">
                                <input type="radio" name="isadmin" id="inlineRadio13" value="g"> 组长
                            </label>
                            <label class="radio-inline">
                                <input type="radio" name="isadmin" id="inlineRadio2" value="n"> 普通用户
                            </label>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary btn-save">保存</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="myModalLabel">删除用户</h4>
                </div>
                <div class="modal-body">
                    是否确定删除该用户？
                    <input type="hidden" name="memberId" value="" />
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-danger btn-confirm">删除</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Content/js/xcConfirm.js"></script>
<script>
    $(document).ready(function () {
        $('#member-form').bootstrapValidator();
    });

    $(".btn-update").on("click", function () {
        $('#updateModal').modal();
        $(".update-form .memberName").val($(this).parent().parent().children().eq(0).text());
        $(".update-form .memberId").val($(this).parent().parent().attr("id"));
        var char = $(this).parent().parent().children().eq(1).text();

        console.log(char);

        if (char == "普通用户") {
            $(".update-form #inlineRadio2").attr("checked", true);
        }
        else if (char == "组长") {
            $(".update-form #inlineRadio13").attr("checked", true);
        }
    });

    $(".btn-delete").on("click", function () {
        $("#deleteModal").modal();
        $("#deleteModal input[name='memberId']").val($(this).parent().parent().attr("id"));
    });

    $(".btn-save").on("click", function () {
        $(".update-form").bootstrapValidator();

        $.ajax({
            url: "/Member/Update",
            data: {
                memberId: $(".update-form .memberId").val(),
                memberName: $(".update-form .memberName").val(),
                isAdmin: $(".update-form input[name='isadmin']:checked").val()
            },
            type: "POST",
            success: function (data) {
                if (data.res) {
                    if (data.member.isadmin == "n") {
                        $(".update-form .memberName").val(data.member.memberName);
                        $(".update-form input[name='isadmin']").eq(1).attr("checked", 'checked');
                        $("table tbody").children("#" + data.member.memberId).children().eq(0).text(data.member.memberName);
                        $("table tbody").children("#" + data.member.memberId).children().eq(1).text("普通用户");

                        //$("table tbody").append("<tr id='" + data.member.memberId + "'><td>" + data.member.memberName + "</td><td>普通用户</td><td><button class='btn btn-primary btn-update'>修改</button><button class='btn btn-danger btn-delete'>删除</button></td></tr>");
                    }
                    else if (data.member.isadmin == "g") {
                        $(".update-form .memberName").val(data.member.memberName);
                        $(".update-form input[name='isadmin']").eq(0).attr("checked", 'checked');
                        $("table tbody").children("#" + data.member.memberId).children().eq(0).text(data.member.memberName);
                        $("table tbody").children("#" + data.member.memberId).children().eq(1).text("组长");

                        //$("table tbody").append("<tr id='" + data.member.memberId + "'><td>" + data.member.memberName + "</td><td>组长</td><td><button class='btn btn-primary btn-update'>修改</button><button class='btn btn-danger btn-delete'>删除</button></td></tr>");
                    }
                }
                else {
                    alert("更新失败");
                }

                $("#updateModal").modal('hide');
            },
            error: function () {
                alert("系统错误，更新失败");
            }
        });
    });

    $(".btn-confirm").on("click", function () {
        $.ajax({
            url: "/Member/Delete",
            type: "POST",
            data: {
                memberId: $("input[name='memberId']").val()
            },
            success: function (data) {
                if (data.res) {
                    $("table tbody").children("#" + $("input[name='memberId']").val()).remove();
                    $("#deleteModal").modal('hide');
                }
                else {
                    alert("删除失败");
                }
            },
            error: function () {
                alert("系统错误，删除失败");
            }
        })
    });
</script>